.clock {
    display: inline-block;
    width: 700px;
    text-align: center;
    
}
    .clock > .time {
        display: inline-block;
        width: 22%;
        float: left;
        margin: 20px 10px;
    }
        .clock > .time > .value {
            display: inline-block;
            width: 100%;
            font-size: 90px;
            line-height: 90px;
        }
        .clock > .time > .label {
            display: inline-block;
            width: 100%;
            font-size: 18px;
            line-height: 20px;
            text-transform: capitalize;
        }