.bg-blue {
    background-color: #3C28EB;
}
.container {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
    .container1 {
        min-height: 100vh;        
    }
        .dot {
            color: blue;
            padding: 10px;
            text-decoration: none;
            position: absolute;
            left: 12%;
            font-size: 30px;       
        }
        .alpha {
        color: red;
        font-family: "srifras";
        
        }
        .sup {
            float: right;
            padding: 10px 40px;
            margin:  20px 30px;
            text-decoration: none; 
            color: rgb(62, 62, 180);
            border-radius: 21px;
        }
            #sup {
                border: 2px solid;
            }
            #sup:hover {
                color: #fff;
                background-color: rgb(62, 62, 180);
            }
        .container1 > h1 {
            font-size: 70px;
            margin-top: 150px;
            font-family: monospace;
        }
        .container1 > p {
            font-size: 25px;
            font-family: monospace;
            margin: 20px 20px;
            width: 70%;

        }
        .meeting {
            width: 100%;
            text-align: center;
            padding: 0 20%;
        }
        .email {
            background-color: #D9D4FC;
            border-radius: 25px;
            height: 50px;
            padding-left: 20px;margin-bottom: 90px;
        }
            .btn {
                line-height: 14px;
                position: absolute;
                left: 73%;
                bottom: 32.1%;     
            }

            @media (max-width: 650px) {
                .email  {
                    width: 50%;
                    padding: 0 40%;
                 }
            }
/* antras container*/
        .left2 {
            display: inline-block;
            float: left;
            padding: 30px 60px;
            text-align: left;
            width: 400px ;
            background-color: darkgoldenrod;
        }
            .features {
                color: #F6BECB;
                text-decoration: none;
            }
            .best {   
                font-size: 40px;
                color: #F6BECB;
                padding: 20px 0;
            }
            .lorem {
                color: #f8dff8;
                width: 300px;
                text-align: left;
            }

        .right2 {
            background-color: olive;
            display: inline-block;
            width: 8%;
            float: left;
            margin: 20px 300px;
        }
            .r2img {
                height: 144px;
                background-color: violet;
                margin: 10px 0;
                display: inline-block;
                width: 100%
        }
             .r2text {
                text-decoration: none;
                color: white;
                display: inline-block;
                width: 100%;
                font-size: 18px;
                line-height: 20px;
                background-color: red;
             }
/*-----------------*/
        .c31 {
            display: inline-block;
            text-align: center;
            border: 1px solid rgb(170, 151, 151);
            border-radius: 10px;
            margin: 25px;
            width: 300px;
            height: 450px;
        }
            .h33 {
                 width: 100%;
                 line-height: 28px;
                 font-size: 38px;
                 color: #432ADE;
                 margin-top: 30px;
            }
            .text3 {
                width: 90%;
                padding: 20px 0;
                color: #828689;
                font-size: 25px;
            }
        .container4 h4 {
            text-align: left;
            width: 100%;
            display: inline-block;
            margin: 70px 0 0 70px;
            font-size: 60px;
            color: #fff;
            padding:50px 10px 10px 0;
        }
        .container4 p {
            display: inline-block;
            text-align: left;
            width: 100%;
            margin-left: 70px;
            font-size: 30px;
            color: #E4DBFF;
        }
        .container4 a {
            background-color: #fff;
            color: rgb(44, 44, 185);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold ;
            position: unset;
            float: left;
            margin: 0 0 150px 1200px;
        }
            .container4 a:hover {
                color: #fff;
                background-color: rgb(176, 176, 253);
            }
        .c4link {
            display: inline;
            float: left;
            padding: 150px 0px 0 50px;
        }
            .c4link a {
                text-decoration: none;
                margin: 20px;
                color: #777;
                font-size: 18px;
                font-family: sans-serif;
            }
        .c4img a,
        p {
            display: inline-block;
            width: 50%;
            text-align: center;
            text-decoration: none;
        }
        .c4img a {
            padding: 60px 0 20px;
            font-size: 40px;
        }
        .c4img p {
            font-size: 18px;
            color: #777;
        }
           .socials {
                display: inline;
                text-decoration: none;
                width: 50px;
                height: 50px;
            }
            .socials a {
                    width: 48px;
                    padding: 10px;
                    float: right;
                    margin: 30px 10px;
                    color: #fff;
                    background-color: blue;
                    text-decoration: none;
                    border: 1px solid blue;
                    border-radius: 50%;
                }
                    .socials > a:hover {
                        background-color: #fff;
                        color: blue;
                        border-radius: 50%;
                    }