.container1 {
    display: inline-block;
    width: 1400px;
    text-align: center;
    text-decoration: none
}
    #dot {
        color: blue;
        padding: 10px;
        text-decoration: none;
        position: absolute;
        left: 12%;
        font-size: 30px;       
    }
    #alpha {
    color: red;
    font-family: cursive;
    }
    .sup {
        float: right;
        padding: 10px 30px;
        margin-top: 10px;
        text-decoration: none; 
        color: rgb(62, 62, 180);
    }
    #sup {
        border: 2px solid;
        border-radius: 21px;
    }
    .container1 > h1 {
        font-size: 70px;
        margin-top: 150px;
        font-family: monospace;
    }
    .container1 > p {
        font-size: 25px;
        font-family: monospace;
        margin: 20px 20px;
    }
    .meeting {
       
       
    }
    .email {
        background-color: #D9D4FC;
        border-radius: 25px;
        height: 50px;
        padding-left: 20px;
    }
        .btn {
            float: right;
            margin-bottom: 100px;
        }
.container2 {
    background-color: #3C28EB;
    display: inline-block;
    width: 1400px;
    text-align: center;
    text-decoration: none
}
    .fut {
        display: inline-block;
        float: left;
        padding: 30px;
        text-align: left;
        width: 350px ;
        text-decoration: none;
       
}
.features {
    color: #F6BECB;
}
.best {   
    font-size: 40px;
    color: #F6BECB;
    padding: 20px 0;
}
.lorem {
    color: #f8dff8;
}
